<h2><%=l(:label_points_plural)%></h2>

<% if @points.blank? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <%= render :partial => 'issues/list', :locals => {:issues => @points, :query => @query} %>
  <!-- p class="pagination">< pagination_links_full @issue_pages, @issue_count ></p -->
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => {:project_id => @project, :key => User.current.rss_key} %>
<% end %>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, params.merge({:format => 'atom', :page => nil, :key => User.current.rss_key})) %>
  <%= stylesheet_link_tag 'scm' %>
<% end %>

<% html_title(l(:label_points_plural)) -%>

<%= context_menu issues_context_menu_path %>
