<%
   all_fields = CustomField.select("id, name").where(:type => "IssueCustomField")
   options = []
   all_fields.each do |f|
     options << [f.name, f.id]
   end
%>

<table>
  <tbody>
  <tr>
    <th style="text-align: right;"><%= l("settings_logo_ministere") %></th>
    <td>
      <%= text_area_tag "settings[logo_ministere]", Setting['plugin_redmine_events']['logo_ministere'] %>
      <%= wikitoolbar_for 'settings_logo_ministere' %>
    </td>
  </tr>
  <tr>
    <th style="text-align: right;"><%= l("select2_custom_fields") %> :</th>
    <td>
      <%= select_tag "settings[select2_fields]", options_for_select(options, Setting['plugin_redmine_events']['select2_fields']), :id => "settings_select2_fields", :multiple => true, :size => 10 %>
    </td>
  </tr>
  <tr>
    <th style="text-align: right;"><%= l("wiki_toolbar_custom_fields") %> :</th>
    <td>
      <%= select_tag "settings[wiki_toolbar_fields]", options_for_select(options, Setting['plugin_redmine_events']['wiki_toolbar_fields']), :id => "settings_wiki_toolbar_fields", :multiple => true, :size => 10 %>
    </td>
  </tr>
  <tr>
    <th style="text-align: right;"><%= l("setting_commune_field") %> :</th>
    <td>
      <%= select_tag "settings[commune_field]", options_for_select(options, Setting['plugin_redmine_events']['commune_field']) %>
    </td>
  </tr>
  <tr>
    <th style="text-align: right;"><%= l("setting_department_field") %> :</th>
    <td>
      <%= select_tag "settings[department_field]", options_for_select(options, Setting['plugin_redmine_events']['department_field']) %>
    </td>
  </tr>
  <tr>
    <th style="text-align: right;"><%= l("setting_summary_field") %> :</th>
    <td>
      <%= select_tag "settings[summary_field]", options_for_select(options, Setting['plugin_redmine_events']['summary_field']) %>
    </td>
  </tr>
  <tr>
    <th style="text-align: right;"><%= l("setting_domain_field") %> :</th>
    <td>
      <%= select_tag "settings[domain_field]", options_for_select(options, Setting['plugin_redmine_events']['domain_field']) %>
    </td>
  </tr>
  <tr>
    <th style="text-align: right;"><%= l("setting_consequence_field") %> :</th>
    <td>
      <%= select_tag "settings[consequence_field]", options_for_select(options, Setting['plugin_redmine_events']['consequence_field']) %>
    </td>
  </tr>
  <tr>
    <th style="text-align: right;"><%= l("setting_cabinets_field") %> :</th>
    <td>
      <%= select_tag "settings[cabinets_field]", options_for_select(options, Setting['plugin_redmine_events']['cabinets_field']) %>
    </td>
  </tr>
  </tbody>
</table>

<script type="text/javascript">
  $(function() {
    $('#settings_select2_fields').select2({
      containerCss: {width: '300px', minwidth: '300px'},
      width: 'style'
    });
    $('#settings_wiki_toolbar_fields').select2({
      containerCss: {width: '300px', minwidth: '300px'},
      width: 'style'
    });
  });
</script>
